{% extends "layout.html" %}

{% block title %}
    Credits
{% endblock %}

{% block main %}

<div class="credits-text">
  <p>Code written by me, pages styled with the help of Bootstrap, site icon created by me using Canva assets.
Kind thank yous and general credit go(es) to:</p>
<ul>
  <li><a class="link-info link-underline-opacity-0 link-underline-opacity-100-hover" href="https://developer.apple.com/library/archive/documentation/AudioVideo/Conceptual/iTuneSearchAPI/index.html">
    iTunes Search API
  </a>, which allowed for the pod search function</li>
  <li>
    <a class="link-info link-underline-opacity-0 link-underline-opacity-100-hover" href="https://linktr.ee/StarTrekTNC">
      Star Trek TNC podcast ⭐⭐⭐⭐⭐
    </a>, which inspired me to do a little pet project, which, in turn, inspired me to create this app
  </li>
  <li>
    <a class="link-info link-underline-opacity-0 link-underline-opacity-100-hover" href="https://www.reddit.com/r/JamesBonding/comments/189sb1v/complete_episode_list_with_airdates/kbvfekg/">
      this random reddit post I found
    </a>, which allowed me to integrate the James Bonding feature
  </li>
  <li>
    <a class="link-info link-underline-opacity-0 link-underline-opacity-100-hover" href="https://cs50.harvard.edu/x/">
      CS50
    </a>, which enabled me to learn the basics of Flask (and many other things) and provided me with a virtual rubber duckie debugging companion
  </li>
</ul>

</div>

<div id="dimensions"></div>




{% endblock %}